<head>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-left: 40px;
      }
    </style>
</head>


<h1>Homework 10</h1>
<p>I was unable to get the javascript to work in the application I've worked on so far, so I've create this application to demonstrate that I know how to use javascript in the context of the homework</p>

<div id="display">
	<div class="btn btn-primary"> Need Help? Click Here!</div>
	<div id="help">
		<p>For more help, please contact the site creator at jack.tyler.robinson@gmail.com.  Hopefully all questions can be answered and all users satisfied!</p>
		<img src ='http://gifs.gifbin.com/052012/1338913975_world_record__largest_smiley_face.gif'/>     			
	</div>
</div>